{% extends 'base.html' %}
{%block head%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

{%endblock%}
{%block body%}
<div class="content">
    <table class="table">
        <tr>
            <th>task </th>
            <th>added</th>
            <th>action</th>
        </tr>
        <tr>
            <td>task </td>
            <td>added</td>
            <td>
                <a href="">delete</a> <br>
                <a href="">udpate</a>
            </td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
{%endblock%}